[submodule "pcb/lib/keebio-components"]
	path = pcb/lib/keebio-components
	url = https://github.com/keebio/keebio-components.git
[submodule "pcb/lib/Keebio-Parts.pretty"]
	path = pcb/lib/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "pcb/lib/digikey-kicad-library"]
	path = pcb/lib/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library.git
